<br />

<div class="soft-box col-10 offset-1">
	<h1>&nbsp Careers</h1>
	<br />
		<div class="careero">
			<br /><br /><br /><br /><br />
			<div class="frosty-white col-10 offset-1 text-center">
				<h3><br />
				Interested in a career at Streamlet?  
				</h3>
				<h5 class="adam">
				<br />
				We are always looking for dynamic talent who thrive in a face-paced work evironment.
				<br /><br />
				Please send a copy of your resume to our HR Staff via email
        <br /><br />
				</h5>
					<%= mail_to 'goodmanadamj@gmail.com', class: 'btn btn-success' do %>
					Apply Now
					<% end %>
				<br />
				<br />
			</div>
		</div>
	<br />
</div>