<div class="hero">
	<br /><br /><br /><br /><br />
	<div class="frosty col-10 offset-1 text-center">
		<br />
		<h1>Learn to Code from Elite Developers</h1>
		<h2>Build Your Tomorrow</h2>
		<%= link_to 'Learn More', '#', class: 'btn btn-success' %>
		<br />
		<br />
	</div>
</div>
