<div class="hero">
	<br /><br /><br /><br /><br />
	<div class="frosty col-10 offset-1 text-center">
		<br />
		<h1>Learn from Elite Instructors</h1>
		<h2>Build Your Tomorrow</h2>
		<%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
		<br />
		<br />
	</div>
</div>
<br /><br />
<div class="row feature text-center">
	<div class="col-12 col-sm">
		<h3>Engaging Courses</h3>
		<br />
		<p>Choose your own path with high-evel instructors</p>
	</div>

	<div class="col-12 col-sm">
		<h3>Learn on Your Time</h3>
		<br />
		<p>Enroll today and start your first lesson</p>
	</div>

	<div class="col-12 col-sm">
		<h3>Join a Community</h3>
		<br />
		<p>Collaborate with students and instructors</p>
	</div>
</div>

