<br />

<div class="soft-box col-10 offset-1">
	<h1>&nbsp Meet Our Team</h1>
	<br /><br />
	<div class="row">
		<div class="col-4 text-center">
			<%= image_tag 'me.jpg', class: 'img-fluid team-pic' %>
		</div>
		<div class="col-7 text-center" style="margin-top:35px;">
			<h5 class="adam"><br />
				Adam Goodman is a (future) graduate of the UCF Coding Bootcamp.  <br />Adam graduated from Florida State Universty in 2015 with a Bachelor of Science in Economics and a triple minor in General Business, Communication/Media Studies, and Entrepreneurship.
				<br /><br />
				Reachable via email at: 
				<a href="mailto:goodmanadamj@gmail.com">
          goodmanadamj@gmail.com</a>
        <br /><br />
			</h5>
		</div>
	</div>
	<br /><br /><br />
</div>