@import "bootstrap";

.nav-link {
	font-weight: bold;
	color: black;
	}

.navbar-brand {
	font-weight: bold;
	margin-left: 3px;
	margin-bottom: 1px;
}

.navbar-icon {
	margin-bottom: -1px;
	margin-left: 5px;
}