@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:300,400,500&display=swap');

body {
	font-family: 'Barlow Semi Condensed', sans-serif;
}

.clear {
  clear: both;
}

.navbar {
  box-shadow: 0px 1px 3px #2a2a2a;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
}

.navbar-brand {
	font-weight: bold;
	margin-left: 3px;
	margin-bottom: 1px;
	color: white;
}

.navbar-icon {
	margin-bottom: -4px;
	margin-left: 5px;
	width: 24px;
	height: 24px;
}

.nav-item {

}

.hero {
	background: image_url('hero.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 420px;
  position: auto;
  box-shadow: 0px 3px 8px #2a2a2a;
}


.frosty {
	background: rgba(0,0,0,0.8);
	color: white;
}

.frosty h1 {
	font-weight: 300;
	margin-bottom: 0;
	text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.frosty h2 {
	font-weight: 400;
	margin-bottom: 10px;
	text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

h3 {
	font-weight: 400;
}

.btn {
	font-weight: 200;
	border-radius: 0;
}

.feature {
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
}

body {
  background: image_url('bg.png');
}

.soft-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 20px;
  padding: 10px;
}

.user-form-title {
	margin-left: 20px;
	margin-top: 10px;
}

.form-inputs {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.cost-inputs {
	width: 20%;
	margin-left: 28px;
}

.form-check-label {
	padding: 0px;
	margin-left: 20px;
}

.form-check-input {
	margin-left: auto;
}

.align-right {
	text-align: right;
	margin-right: 20px;
	margin-bottom: 10px;
}

.form-actions {
	margin-left: 30px;
}

.cancel-button {
	color: #c7001b;
}

.cancel-account {
	text-align: right;
}

#clear {
	clear:both;
}

.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}